__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env
.env.*

# Testing / coverage caches
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml


# IDE / editor
.vscode/
.idea/

.ruff_cache/
