streamlit
pandas
networkx
matplotlib
openpyxl
plotly
boto3
python-dotenv
dotenv

# Database 
SQLAlchemy
psycopg2-binary

# Testing
pytest
pytest-asyncio
pytest-cov
factory-boy
faker
fastapi
uvicorn
pandas
networkx
pytest
python-multipart
